.no-margin-top:not(.children), .no-margin-top.children > * {
  margin-top: 0 !important;
}

.no-margin-bottom:not(.children), .no-margin-bottom.children > * {
  margin-bottom: 0 !important;
}

.no-margin-left:not(.children), .no-margin-left.children > * {
  margin-left: 0 !important;
}

.no-margin-right:not(.children), .no-margin-right.children > * {
  margin-right: 0 !important;
}

.no-padding-top:not(.children), .no-padding-top.children > * {
  padding-top: 0 !important;
}

.no-padding-bottom:not(.children), .no-padding-bottom.children > * {
  padding-bottom: 0 !important;
}

.no-padding-left:not(.children), .no-padding-left.children > * {
  padding-left: 0 !important;
}

.no-padding-right:not(.children), .no-padding-right.children > * {
  padding-right: 0 !important;
}

.small-margin-top:not(.children), .small-margin-top.children > * {
  margin-top: 3rem !important;
}

.small-margin-bottom:not(.children), .small-margin-bottom.children > * {
  margin-bottom: 3rem !important;
}

.small-margin-left:not(.children), .small-margin-left.children > * {
  margin-left: 3rem !important;
}

.small-margin-right:not(.children), .small-margin-right.children > * {
  margin-right: 3rem !important;
}

.small-padding-top:not(.children), .small-padding-top.children > * {
  padding-top: 3rem !important;
}

.small-padding-bottom:not(.children), .small-padding-bottom.children > * {
  padding-bottom: 3rem !important;
}

.small-padding-left:not(.children), .small-padding-left.children > * {
  padding-left: 3rem !important;
}

.small-padding-right:not(.children), .small-padding-right.children > * {
  padding-right: 3rem !important;
}

.medium-margin-top:not(.children), .medium-margin-top.children > * {
  margin-top: 7rem !important;
}

.medium-margin-bottom:not(.children), .medium-margin-bottom.children > * {
  margin-bottom: 7rem !important;
}

.medium-margin-left:not(.children), .medium-margin-left.children > * {
  margin-left: 7rem !important;
}

.medium-margin-right:not(.children), .medium-margin-right.children > * {
  margin-right: 7rem !important;
}

.medium-padding-top:not(.children), .medium-padding-top.children > * {
  padding-top: 7rem !important;
}

.medium-padding-bottom:not(.children), .medium-padding-bottom.children > * {
  padding-bottom: 7rem !important;
}

.medium-padding-left:not(.children), .medium-padding-left.children > * {
  padding-left: 7rem !important;
}

.medium-padding-right:not(.children), .medium-padding-right.children > * {
  padding-right: 7rem !important;
}

.large-margin-top:not(.children), .large-margin-top.children > * {
  margin-top: 11rem !important;
}

.large-margin-bottom:not(.children), .large-margin-bottom.children > * {
  margin-bottom: 11rem !important;
}

.large-margin-left:not(.children), .large-margin-left.children > * {
  margin-left: 11rem !important;
}

.large-margin-right:not(.children), .large-margin-right.children > * {
  margin-right: 11rem !important;
}

.large-padding-top:not(.children), .large-padding-top.children > * {
  padding-top: 11rem !important;
}

.large-padding-bottom:not(.children), .large-padding-bottom.children > * {
  padding-bottom: 11rem !important;
}

.large-padding-left:not(.children), .large-padding-left.children > * {
  padding-left: 11rem !important;
}

.large-padding-right:not(.children), .large-padding-right.children > * {
  padding-right: 11rem !important;
}
