.no-margin-top {

	&:not(.child),
	&.first.child > * {
		margin-top: 0 !important;
	}
}

.no-margin-bottom {

	&:not(.child),
	&.first.child > * {
		margin-bottom: 0 !important;
	}
}

.no-padding-top {

	&:not(.child),
	&.first.child > * {
		margin-top: 0 !important;
	}
}

.no-padding-bottom {

	&:not(.child),
	&.first.child > * {
		margin-bottom: 0 !important;
	}
}
