.no-margin-top {
  margin-top: 0;
}
.no-margin-top-important, .no-margin-top-i, .no-margin-top-children > *, .no-margin-top-ch > *, .no-margin-top-grand-children > * > *, .no-margin-top-g-ch > * > * {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0;
}
.no-margin-bottom-important, .no-margin-bottom-i, .no-margin-bottom-children > *, .no-margin-bottom-ch > *, .no-margin-bottom-grand-children > * > *, .no-margin-bottom-g-ch > * > * {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0;
}
.no-margin-left-important, .no-margin-left-i, .no-margin-left-children > *, .no-margin-left-ch > *, .no-margin-left-grand-children > * > *, .no-margin-left-g-ch > * > * {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0;
}
.no-margin-right-important, .no-margin-right-i, .no-margin-right-children > *, .no-margin-right-ch > *, .no-margin-right-grand-children > * > *, .no-margin-right-g-ch > * > * {
  margin-right: 0 !important;
}

.no-padding-top {
  padding-top: 0;
}
.no-padding-top-important, .no-padding-top-i, .no-padding-top-children > *, .no-padding-top-ch > *, .no-padding-top-grand-children > * > *, .no-padding-top-g-ch > * > * {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0;
}
.no-padding-bottom-important, .no-padding-bottom-i, .no-padding-bottom-children > *, .no-padding-bottom-ch > *, .no-padding-bottom-grand-children > * > *, .no-padding-bottom-g-ch > * > * {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0;
}
.no-padding-left-important, .no-padding-left-i, .no-padding-left-children > *, .no-padding-left-ch > *, .no-padding-left-grand-children > * > *, .no-padding-left-g-ch > * > * {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0;
}
.no-padding-right-important, .no-padding-right-i, .no-padding-right-children > *, .no-padding-right-ch > *, .no-padding-right-grand-children > * > *, .no-padding-right-g-ch > * > * {
  padding-right: 0 !important;
}

.sm-margin-top {
  margin-top: 3rem;
}
.sm-margin-top-important, .sm-margin-top-i, .sm-margin-top-children > *, .sm-margin-top-ch > *, .sm-margin-top-grand-children > * > *, .sm-margin-top-g-ch > * > * {
  margin-top: 3rem !important;
}

.sm-margin-bottom {
  margin-bottom: 3rem;
}
.sm-margin-bottom-important, .sm-margin-bottom-i, .sm-margin-bottom-children > *, .sm-margin-bottom-ch > *, .sm-margin-bottom-grand-children > * > *, .sm-margin-bottom-g-ch > * > * {
  margin-bottom: 3rem !important;
}

.sm-margin-left {
  margin-left: 3rem;
}
.sm-margin-left-important, .sm-margin-left-i, .sm-margin-left-children > *, .sm-margin-left-ch > *, .sm-margin-left-grand-children > * > *, .sm-margin-left-g-ch > * > * {
  margin-left: 3rem !important;
}

.sm-margin-right {
  margin-right: 3rem;
}
.sm-margin-right-important, .sm-margin-right-i, .sm-margin-right-children > *, .sm-margin-right-ch > *, .sm-margin-right-grand-children > * > *, .sm-margin-right-g-ch > * > * {
  margin-right: 3rem !important;
}

.sm-padding-top {
  padding-top: 3rem;
}
.sm-padding-top-important, .sm-padding-top-i, .sm-padding-top-children > *, .sm-padding-top-ch > *, .sm-padding-top-grand-children > * > *, .sm-padding-top-g-ch > * > * {
  padding-top: 3rem !important;
}

.sm-padding-bottom {
  padding-bottom: 3rem;
}
.sm-padding-bottom-important, .sm-padding-bottom-i, .sm-padding-bottom-children > *, .sm-padding-bottom-ch > *, .sm-padding-bottom-grand-children > * > *, .sm-padding-bottom-g-ch > * > * {
  padding-bottom: 3rem !important;
}

.sm-padding-left {
  padding-left: 3rem;
}
.sm-padding-left-important, .sm-padding-left-i, .sm-padding-left-children > *, .sm-padding-left-ch > *, .sm-padding-left-grand-children > * > *, .sm-padding-left-g-ch > * > * {
  padding-left: 3rem !important;
}

.sm-padding-right {
  padding-right: 3rem;
}
.sm-padding-right-important, .sm-padding-right-i, .sm-padding-right-children > *, .sm-padding-right-ch > *, .sm-padding-right-grand-children > * > *, .sm-padding-right-g-ch > * > * {
  padding-right: 3rem !important;
}

.md-margin-top {
  margin-top: 7rem;
}
.md-margin-top-important, .md-margin-top-i, .md-margin-top-children > *, .md-margin-top-ch > *, .md-margin-top-grand-children > * > *, .md-margin-top-g-ch > * > * {
  margin-top: 7rem !important;
}

.md-margin-bottom {
  margin-bottom: 7rem;
}
.md-margin-bottom-important, .md-margin-bottom-i, .md-margin-bottom-children > *, .md-margin-bottom-ch > *, .md-margin-bottom-grand-children > * > *, .md-margin-bottom-g-ch > * > * {
  margin-bottom: 7rem !important;
}

.md-margin-left {
  margin-left: 7rem;
}
.md-margin-left-important, .md-margin-left-i, .md-margin-left-children > *, .md-margin-left-ch > *, .md-margin-left-grand-children > * > *, .md-margin-left-g-ch > * > * {
  margin-left: 7rem !important;
}

.md-margin-right {
  margin-right: 7rem;
}
.md-margin-right-important, .md-margin-right-i, .md-margin-right-children > *, .md-margin-right-ch > *, .md-margin-right-grand-children > * > *, .md-margin-right-g-ch > * > * {
  margin-right: 7rem !important;
}

.md-padding-top {
  padding-top: 7rem;
}
.md-padding-top-important, .md-padding-top-i, .md-padding-top-children > *, .md-padding-top-ch > *, .md-padding-top-grand-children > * > *, .md-padding-top-g-ch > * > * {
  padding-top: 7rem !important;
}

.md-padding-bottom {
  padding-bottom: 7rem;
}
.md-padding-bottom-important, .md-padding-bottom-i, .md-padding-bottom-children > *, .md-padding-bottom-ch > *, .md-padding-bottom-grand-children > * > *, .md-padding-bottom-g-ch > * > * {
  padding-bottom: 7rem !important;
}

.md-padding-left {
  padding-left: 7rem;
}
.md-padding-left-important, .md-padding-left-i, .md-padding-left-children > *, .md-padding-left-ch > *, .md-padding-left-grand-children > * > *, .md-padding-left-g-ch > * > * {
  padding-left: 7rem !important;
}

.md-padding-right {
  padding-right: 7rem;
}
.md-padding-right-important, .md-padding-right-i, .md-padding-right-children > *, .md-padding-right-ch > *, .md-padding-right-grand-children > * > *, .md-padding-right-g-ch > * > * {
  padding-right: 7rem !important;
}

.lg-margin-top {
  margin-top: 11rem;
}
.lg-margin-top-important, .lg-margin-top-i, .lg-margin-top-children > *, .lg-margin-top-ch > *, .lg-margin-top-grand-children > * > *, .lg-margin-top-g-ch > * > * {
  margin-top: 11rem !important;
}

.lg-margin-bottom {
  margin-bottom: 11rem;
}
.lg-margin-bottom-important, .lg-margin-bottom-i, .lg-margin-bottom-children > *, .lg-margin-bottom-ch > *, .lg-margin-bottom-grand-children > * > *, .lg-margin-bottom-g-ch > * > * {
  margin-bottom: 11rem !important;
}

.lg-margin-left {
  margin-left: 11rem;
}
.lg-margin-left-important, .lg-margin-left-i, .lg-margin-left-children > *, .lg-margin-left-ch > *, .lg-margin-left-grand-children > * > *, .lg-margin-left-g-ch > * > * {
  margin-left: 11rem !important;
}

.lg-margin-right {
  margin-right: 11rem;
}
.lg-margin-right-important, .lg-margin-right-i, .lg-margin-right-children > *, .lg-margin-right-ch > *, .lg-margin-right-grand-children > * > *, .lg-margin-right-g-ch > * > * {
  margin-right: 11rem !important;
}

.lg-padding-top {
  padding-top: 11rem;
}
.lg-padding-top-important, .lg-padding-top-i, .lg-padding-top-children > *, .lg-padding-top-ch > *, .lg-padding-top-grand-children > * > *, .lg-padding-top-g-ch > * > * {
  padding-top: 11rem !important;
}

.lg-padding-bottom {
  padding-bottom: 11rem;
}
.lg-padding-bottom-important, .lg-padding-bottom-i, .lg-padding-bottom-children > *, .lg-padding-bottom-ch > *, .lg-padding-bottom-grand-children > * > *, .lg-padding-bottom-g-ch > * > * {
  padding-bottom: 11rem !important;
}

.lg-padding-left {
  padding-left: 11rem;
}
.lg-padding-left-important, .lg-padding-left-i, .lg-padding-left-children > *, .lg-padding-left-ch > *, .lg-padding-left-grand-children > * > *, .lg-padding-left-g-ch > * > * {
  padding-left: 11rem !important;
}

.lg-padding-right {
  padding-right: 11rem;
}
.lg-padding-right-important, .lg-padding-right-i, .lg-padding-right-children > *, .lg-padding-right-ch > *, .lg-padding-right-grand-children > * > *, .lg-padding-right-g-ch > * > * {
  padding-right: 11rem !important;
}

.no-margin-vert {
  margin-top: 0;
  margin-bottom: 0;
}
.no-margin-vert-important, .no-margin-vert-i, .no-margin-vert-children > *, .no-margin-vert-ch > *, .no-margin-vert-grand-children > * > *, .no-margin-vert-g-ch > * > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.no-margin-horiz {
  margin-left: 0;
  margin-right: 0;
}
.no-margin-horiz-important, .no-margin-horiz-i, .no-margin-horiz-children > *, .no-margin-horiz-ch > *, .no-margin-horiz-grand-children > * > *, .no-margin-horiz-g-ch > * > * {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-padding-vert {
  padding-top: 0;
  padding-bottom: 0;
}
.no-padding-vert-important, .no-padding-vert-i, .no-padding-vert-children > *, .no-padding-vert-ch > *, .no-padding-vert-grand-children > * > *, .no-padding-vert-g-ch > * > * {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-padding-horiz {
  padding-left: 0;
  padding-right: 0;
}
.no-padding-horiz-important, .no-padding-horiz-i, .no-padding-horiz-children > *, .no-padding-horiz-ch > *, .no-padding-horiz-grand-children > * > *, .no-padding-horiz-g-ch > * > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.sm-margin-vert {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.sm-margin-vert-important, .sm-margin-vert-i, .sm-margin-vert-children > *, .sm-margin-vert-ch > *, .sm-margin-vert-grand-children > * > *, .sm-margin-vert-g-ch > * > * {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.sm-margin-horiz {
  margin-left: 3rem;
  margin-right: 3rem;
}
.sm-margin-horiz-important, .sm-margin-horiz-i, .sm-margin-horiz-children > *, .sm-margin-horiz-ch > *, .sm-margin-horiz-grand-children > * > *, .sm-margin-horiz-g-ch > * > * {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.sm-padding-vert {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.sm-padding-vert-important, .sm-padding-vert-i, .sm-padding-vert-children > *, .sm-padding-vert-ch > *, .sm-padding-vert-grand-children > * > *, .sm-padding-vert-g-ch > * > * {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.sm-padding-horiz {
  padding-left: 3rem;
  padding-right: 3rem;
}
.sm-padding-horiz-important, .sm-padding-horiz-i, .sm-padding-horiz-children > *, .sm-padding-horiz-ch > *, .sm-padding-horiz-grand-children > * > *, .sm-padding-horiz-g-ch > * > * {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.md-margin-vert {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.md-margin-vert-important, .md-margin-vert-i, .md-margin-vert-children > *, .md-margin-vert-ch > *, .md-margin-vert-grand-children > * > *, .md-margin-vert-g-ch > * > * {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}
.md-margin-horiz {
  margin-left: 7rem;
  margin-right: 7rem;
}
.md-margin-horiz-important, .md-margin-horiz-i, .md-margin-horiz-children > *, .md-margin-horiz-ch > *, .md-margin-horiz-grand-children > * > *, .md-margin-horiz-g-ch > * > * {
  margin-left: 7rem !important;
  margin-right: 7rem !important;
}

.md-padding-vert {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.md-padding-vert-important, .md-padding-vert-i, .md-padding-vert-children > *, .md-padding-vert-ch > *, .md-padding-vert-grand-children > * > *, .md-padding-vert-g-ch > * > * {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}
.md-padding-horiz {
  padding-left: 7rem;
  padding-right: 7rem;
}
.md-padding-horiz-important, .md-padding-horiz-i, .md-padding-horiz-children > *, .md-padding-horiz-ch > *, .md-padding-horiz-grand-children > * > *, .md-padding-horiz-g-ch > * > * {
  padding-left: 7rem !important;
  padding-right: 7rem !important;
}

.lg-margin-vert {
  margin-top: 11rem;
  margin-bottom: 11rem;
}
.lg-margin-vert-important, .lg-margin-vert-i, .lg-margin-vert-children > *, .lg-margin-vert-ch > *, .lg-margin-vert-grand-children > * > *, .lg-margin-vert-g-ch > * > * {
  margin-top: 11rem !important;
  margin-bottom: 11rem !important;
}
.lg-margin-horiz {
  margin-left: 11rem;
  margin-right: 11rem;
}
.lg-margin-horiz-important, .lg-margin-horiz-i, .lg-margin-horiz-children > *, .lg-margin-horiz-ch > *, .lg-margin-horiz-grand-children > * > *, .lg-margin-horiz-g-ch > * > * {
  margin-left: 11rem !important;
  margin-right: 11rem !important;
}

.lg-padding-vert {
  padding-top: 11rem;
  padding-bottom: 11rem;
}
.lg-padding-vert-important, .lg-padding-vert-i, .lg-padding-vert-children > *, .lg-padding-vert-ch > *, .lg-padding-vert-grand-children > * > *, .lg-padding-vert-g-ch > * > * {
  padding-top: 11rem !important;
  padding-bottom: 11rem !important;
}
.lg-padding-horiz {
  padding-left: 11rem;
  padding-right: 11rem;
}
.lg-padding-horiz-important, .lg-padding-horiz-i, .lg-padding-horiz-children > *, .lg-padding-horiz-ch > *, .lg-padding-horiz-grand-children > * > *, .lg-padding-horiz-g-ch > * > * {
  padding-left: 11rem !important;
  padding-right: 11rem !important;
}

.no-margin {
  margin: 0;
}
.no-margin-important, .no-margin-i, .no-margin-children > *, .no-margin-ch > *, .no-margin-grand-children > * > *, .no-margin-g-ch > * > * {
  margin: 0 !important;
}

.no-padding {
  padding: 0;
}
.no-padding-important, .no-padding-i, .no-padding-children > *, .no-padding-ch > *, .no-padding-grand-children > * > *, .no-padding-g-ch > * > * {
  padding: 0 !important;
}

.sm-margin {
  margin: 3rem;
}
.sm-margin-important, .sm-margin-i, .sm-margin-children > *, .sm-margin-ch > *, .sm-margin-grand-children > * > *, .sm-margin-g-ch > * > * {
  margin: 3rem !important;
}

.sm-padding {
  padding: 3rem;
}
.sm-padding-important, .sm-padding-i, .sm-padding-children > *, .sm-padding-ch > *, .sm-padding-grand-children > * > *, .sm-padding-g-ch > * > * {
  padding: 3rem !important;
}

.md-margin {
  margin: 7rem;
}
.md-margin-important, .md-margin-i, .md-margin-children > *, .md-margin-ch > *, .md-margin-grand-children > * > *, .md-margin-g-ch > * > * {
  margin: 7rem !important;
}

.md-padding {
  padding: 7rem;
}
.md-padding-important, .md-padding-i, .md-padding-children > *, .md-padding-ch > *, .md-padding-grand-children > * > *, .md-padding-g-ch > * > * {
  padding: 7rem !important;
}

.lg-margin {
  margin: 11rem;
}
.lg-margin-important, .lg-margin-i, .lg-margin-children > *, .lg-margin-ch > *, .lg-margin-grand-children > * > *, .lg-margin-g-ch > * > * {
  margin: 11rem !important;
}

.lg-padding {
  padding: 11rem;
}
.lg-padding-important, .lg-padding-i, .lg-padding-children > *, .lg-padding-ch > *, .lg-padding-grand-children > * > *, .lg-padding-g-ch > * > * {
  padding: 11rem !important;
}

.carousel-caption {
  position: unset !important;
}

.carousel-item > .carousel-img, .carousel-item > a > .carousel-img {
  height: 500px;
}

.carousel-control-prev,
.carousel-control-next {
  text-decoration: none;
}

#menu .dropdown-menu {
  max-width: unset;
}
#menu .dropdown-item {
  white-space: nowrap;
}
